@CHARSET "UTF-8";

body.projects .navbar li.projects,
body.students .navbar li.students,
body.inspectors .navbar li.inspectors,
body.modules .navbar li.modules,
body.login .navbar li.login {
	background-image: -webkit-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
	background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dbdbdb),to(#e2e2e2));
	background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
	box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

#body-container {
	margin-top: 80px;
}


.dataTables_wrapper .dataTables_paginate .paginate_button {
	margin: 0px;
	padding: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border: #428bca 1px solid;
}